node_modules/
.env
backend/.env
frontend/.env
backend/public/
backend/node_modules/
frontend/node_modules/
frontend/dist/
dist/
backend/node_modules/.prisma/
# Prisma engine binaries
backend/prisma/generated/
*.pem
.DS_Store
Thumbs.db
